<div class="main-content">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="btn-group">
                    <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                        Previous
                    </div>
                    <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                        Today
                    </div>
                    <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                        Next
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
        </div>
        <ng-template #customCellTemplate let-day="day" let-locale="locale">
            <div class="cal-cell-top">
                <span class="cal-day-badge" style="padding: 21px 25px; background-color: #0a573d;" *ngIf="day.badgeTotal === 8">{{ day.badgeTotal }}</span>
                <span class="cal-day-badge" style="padding: 21px 25px;" *ngIf="day.badgeTotal === 0">{{ timesheet[day.date.toLocaleDateString()] }}</span>
                <!-- <span class="cal-day-badge">{{ day.badgeTotal }}</span> -->
                <span class="cal-day-number" style="font-size: smaller;">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
            </div>
            <!-- <small style="margin: 5px">There are {{ day.events.length }} events on this day</small> -->
        </ng-template>
        <br>
        <div [ngSwitch]="view" class="row">
            <div class="col-lg-10">
                <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [cellTemplate]="customCellTemplate" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-month-view>
            </div>
            <div class="col-lg-2">
                <span class="row text-center" style="min-height: 78px;flex: 1;font-weight: 400">Hours/Week</span>
                <span class="row text-center" style="width:200px;height:100px;min-height: 78px;flex: 1;">40</span>
                <span class="row text-center" style="width:200px;height:100px;min-height: 78px;flex: 1;">40</span>
                <span class="row text-center" style="width:200px;height:100px;min-height: 78px;flex: 1;">40</span>
                <span class="row text-center" style="width:200px;height:100px;min-height: 78px;flex: 1;">40</span>
                <span class="row text-center" style="width:200px;height:100px;min-height: 78px;flex: 1;">40</span>
            </div>
        </div>
    </div>
</div>