<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon"><i class="material-icons">timer</i></div>
          <h4 class="card-title">TimeSheet</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-2"><h4>Saturday</h4></div>
            <div class="col-md-2"><h4>Sunday</h4></div>
            <div class="col-md-2"><h4>Monday</h4></div>
            <div class="col-md-2"><h4>Tuesday</h4></div>
            <div class="col-md-2"><h4>Wednesday</h4></div>
            <div class="col-md-2"><h4>Thursday</h4></div>
            <div class="col-md-2"><h4>Friday</h4></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
